<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
  <head>
    {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.anketa_last}}
    {{> ../../template-partials/head}}
  </head>
  <body>
    {{> ../../header/header pageRoute='anketa/last'}}
    <main>
      <section class="content container">
        <h2>{{ htmlWebpackPlugin.options.content.translations.lf_h1 }}</h2>
        <p>
          {{ htmlWebpackPlugin.options.content.translations.lf_p1 }}
          <strong class="email"></strong>
        </p>
        <p>{{{htmlWebpackPlugin.options.content.translations.lf_p11}}}</p>
      </section>
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
