@import '../../styles/constants';
@import '../../styles/mixins';

// todo: use classes for selectors
.manifesto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  position: relative;
  border-bottom: 8px solid $color-light-gray-2;

  &:before {
    content: ' ';
    position: absolute;
    background-image: url('/assets/images/gsm.png');
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    max-height: 250px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

    @include media-lg {
      display: none;
    }
  }

  h2 {
    text-align: center;
  }

  a {
    color: black;

    &:hover {
      color: $color-main-green;
    }
  }

  ul {
    margin: 0 auto;
    max-width: 700px;

    li:not(:last-child) {
      margin-bottom: 16px;
    }

    details {
      summary {
        background-color: $color-light-gray-2;
        list-style: none;
        cursor: pointer;
        font-size: 20px;
        padding: 8px 16px;
        display: flex;
        align-items: center;

        &::-webkit-details-marker {
          display: none;
        }

        .text {
          padding-right: 8px;
        }

        i {
          margin-left: auto;
          color: $color-main-green;
          transition: all $hover-transition-speed ease-in-out;
          transform-origin: center;
        }
      }

      &[open] summary i {
        transform: rotate(90deg);
      }

      .content {
        padding: 16px;
        border: 2px solid $color-light-gray-2;
      }
    }
  }
}
