<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
  <head>
    {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.about_us}}
    {{> ../../template-partials/head}}
  </head>
  <body>
    {{> ../../header/header pageRoute='about'}}
    <main>
      about us page
      {{> ../../template-partials/question-form/question-form page='about'}}
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
