@import 'team-members';
@import 'history';
@import 'philosophy';
@import 'partners';
@import 'media';
@import '../../styles/mixins';

.about {
  h2 {
    text-align: center;
  }

  .mission {
    padding: 64px;

    &-text {
      max-width: 550px;
      margin: auto;
      font-size: 20px;
    }
  }

  @include media-sm {
    section {
      padding: 16px !important;
    }
    .form {
      padding: 0;
    }
  }
}
