<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
<head>
  {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.anketa_first}}
  {{> ../../template-partials/head}}
</head>
<body>
{{> ../../header/header pageRoute='anketa'}}
<main>
  sign up page
</main>
{{> ../../footer/footer}}
</body>
</html>
