<footer class='footer'>
  <div class='container'>
    <div class='footer-top'>
      <nav>
        <ul class='footer-list'>
          <li class='footer-list-item'>
            <i class='fa fa-location-dot'></i>
            <a class='footer-list-item-link' href='https://g.page/shpp-kr' target='_blank' rel='noreferrer noopener'>Vasylivskyi ln. 10,
              Kropyvnytskyi, Ukraine</a>
          </li>
          <li class='footer-list-item'>
            <i class='fa fa-phone'></i>
            <a class='footer-list-item-link' href='tel:+380502011180'>050 20 111 80</a>
          </li>
          <li class='footer-list-item'>
            <i class='fa fa-envelope'></i>
            <a class='footer-list-item-link' href='mailto:info@programming.org.ua'>info@programming.org.ua</a>
          </li>
        </ul>
      </nav>

      <nav>
        <ul class='footer-list'>
          <li class='footer-list-item'>
            <i class='fa-brands fa-instagram'></i>
            <a
              class='footer-list-item-link'
              href='https://www.instagram.com/shpp.kr'
              target='_blank'
              rel='noreferrer noopener'
            >Instagram</a>
          </li>
          <li class='footer-list-item'>
            <i class='fa-brands fa-facebook-square'></i>
            <a class='footer-list-item-link' href='https://fb.com/shpp.kr' target='_blank' rel='noreferrer noopener'>Facebook</a>
          </li>
          <li class='footer-list-item'>
            <i class='fa-brands fa-telegram'></i>
            <a class='footer-list-item-link' href='https://t.me/shppkr' target='_blank' rel='noreferrer noopener'>Telegram</a>
          </li>
        </ul>
      </nav>

      <a href='/supportus' class='footer-support-us'>Support us</a>
    </div>
    <hr class='footer-separator' />
    <div class='footer-copyright'>© 2012–2022 Programming School++</div>
  </div>
</footer>
