@import 'constants';

.about-us {
  padding: 32px 0;

  &-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  &-text {
    font-size: 20px;

    // todo: use class instead of tag selector
    a {
      text-decoration: underline;
      text-decoration-color: $color-main-green;
      text-underline-position: under;
      color: $color-font;

      &:hover {
        color: $color-main-green;
      }
    }
  }

  &-container {
    max-width: 550px;
  }
}
