$color-main-green: #27ae60;
$color-dark-green: #295;
$color-white: rgba(white, 0.87);
$color-font: rgba(black, 0.87);
$color-menu: #2c3e50;
$color-light-gray: rgba(white, 0.6);
$color-light-gray-2: #f8f8f8;
$color-gray: rgba(black, 0.38);
$color-gray-2: rgba(black, 0.6);
$color-dark-gray: #3d3d3d;
$color-yellow: gold;
$color-dark-yellow: #e6c200;
