.feedbacks {
  .feedbacks-slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    .swiper-pagination {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    .swiper-pagination-bullet {
      padding: 5px 10px;
      width: auto;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color: black;
      opacity: 1;
      background: rgba(black, 0.2);
    }
    .swiper-pagination-bullet-active {
      color: white;
      background: #007aff;
    }
  }
}
