@import 'constants';
@import 'mixins';

footer {
  padding: 32px 16px;
  background-color: $color-dark-gray;
  color: $color-light-gray;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
      image: url(/assets/images/galaxyrefitstarboard.png);
      position-x: 0;
    }
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
  }

  .top {
    display: flex;
    justify-content: space-between;

    @include media-md {
      flex-direction: column;
      justify-content: flex-start;
    }

    // todo: use class instead of tag selector
    nav {
      li {
        margin: 16px 0;
      }

      a {
        color: $color-white;
        font-family: 'Helvetica', sans-serif;
        font-size: 100%;
        white-space: pre-wrap;
        text-decoration: underline;
        text-decoration-color: $color-main-green;
        text-underline-position: under;

        &:hover {
          color: $color-main-green;
        }
      }
    }

    .support-us {
      background: $color-yellow;
      color: $color-font;
      text-decoration: none;
      height: 40px;
      width: 132px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $color-dark-yellow;
      }
    }
  }

  // todo: use class instead of tag selector
  hr {
    border-width: thin;
    margin: 16px 0;
    width: 50px;
  }
}
