@import 'styles/constants';

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  color: $color-font;
}

body {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  text-decoration-color: $color-main-green;
  text-underline-position: under;

  &:focus {
    outline: $color-main-green dashed 2px;
  }
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

::selection {
  background: rgba($color-main-green, 0.4);
}

.button-primary {
  background: $color-main-green;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  transition: background-color 0.1s;

  &:hover {
    background-color: $color-dark-green;
  }
}

@import "styles/font-asesome";
@import "styles/container";
@import "header/header";
@import "footer/footer";
