<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <meta name="Description" content="Безкоштовна IT-школа, незалежний соціально-культурний проект в Кропивницькому." />
    <meta
      name="Keywords"
      content="Кировоград, школа, программирования, Ш++, курсы, Веб разработка, Web development, Андроид разработка, Android development, Mobile development, робототехника, Весна Софт, VesnaSoft, Кропивницкий, Кіровоград, школа, програмування, Ш++, курси, Веб розробка,  Андроід розробка, робототехніка, Кропивницький"
    />
    <meta property="og:title" content="Школа програмування Ш++" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://programming.org.ua" />
    <meta property="og:description" content="Безкоштовна IT-школа, незалежний соціально-культурний проект в Кропивницькому." />
    <meta property="og:locale" content="uk" />
    <meta property="og:locale:alternate" content="ru" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:site_name" content="Ш++" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@shplusplus" />
    <meta name="twitter:title" content="Школа програмування Ш++" />
    <meta name="twitter:description" content="Безкоштовна IT-школа, незалежний соціально-культурний проект в Кропивницькому." />

    <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
    <title>Школа програмування</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo"> Ш++ </a>
      <div class="right">
        <div class="content">
          <nav class="menu">
            <ul>
              <li>
                <a>Courses <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul>
                  <li>
                    <a href="/courses/adults">Adults</a>
                  </li>
                  <li>
                    <a href="/courses#teens">Teens</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/about">About us</a>
              </li>
              <li>
                <a href="/feedback-all">Feedbacks</a>
              </li>
              <li>
                <a href="https://blog.programming.org.ua">News</a>
              </li>
              <li>
                <a href="/contacts">Contact info</a>
              </li>
            </ul>
          </nav>
          <div class="authenticate">
            <a href="/anketa" class="button-primary sign-up">Sign up</a>
            <a href="https://portal.programming.org.ua/login" class="sign-in">Sign in</a>
          </div>
          <ul class="languages">
            <li class="ru">
              <a href="/ru">RU</a>
            </li>
            <li class="ua">
              <a href="/ua">UA</a>
            </li>
            <li class="en">
              <a href="/en">EN</a>
            </li>
          </ul>
        </div>
        <button class="mobile-menu-open" type="button" onclick="programmingOrgUa.openMobileMenu()">
          <i class="fa fa-bars"></i>
        </button>
        <button class="mobile-menu-close" type="button" onclick="programmingOrgUa.closeMobileMenu()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </header>
    <main>
      <section class="banner">
        <h1 class="title">We teach computer programming</h1>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            for free
          </li>
          <li>
            <i class="fa fa-check"></i>
            no obligations
          </li>
          <li>
            <i class="fa fa-check"></i>
            for 7 years already
          </li>
        </ul>
        <div class="courses">
          <a class="course" href="/courses/adults">
            <h3 class="course-type">Adults</h3>
            <span class="course-tip">employment possible</span>
            <span class="course-date">start: 14.08.2022</span>
          </a>
          <a class="course" href="/courses#teens">
            <h3 class="course-type">Teens</h3>
            <span class="course-tip">from 12 years old</span>
          </a>
        </div>
      </section>
      <section class="about-us">
        <div class="container">
          <h2 class="title">About us</h2>
          <div class="text">
            <p>We teach programming <a href="/supportus">for free</a> everybody from 12 to 100 years old.</p>

            <p>
              More than 75% of <a href="/courses/adults">adults</a>, who finished at least the half of study course, found the job. They
              study online for at least 8 month.
            </p>

            <p>
              With <a href="/courses#teens">teens</a> of 12-17 years old, we study design, 3d, hardware and other directions, not only
              programming. They study <strong>offline in Kropyvnytskyi</strong>.
            </p>

            <p>
              The studying is hard: it doesn't make sense without self-discipline, belief in yourself and
              <a href="en/about#philosophy">independent</a> work.
            </p>
          </div>
        </div>
      </section>
      <!--      todo: do not show feedbacks section in case there are no feedbacks-->
      <section class="feedbacks">
        <h2>Feedbacks</h2>
        <div class="container">
          <div class="swiper feedbacks-slider" @vue:mounted="mounted()">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(feedback, index) in feedbacks">
                <header>
                  <img :src="getImage(feedback)" :alt="getName(feedback)" />
                  <a :href="feedback.link" target="_blank">
                    <strong>{{getName(feedback)}}</strong>
                  </a>
                </header>
                <p v-if="!isLongText(feedback.message)">{{feedback.message}}</p>
                <p v-else>
                  {{shouldShowFullText(index) ? feedback.message : getShortText(feedback.message)}}
                  <a v-if="!shouldShowFullText(index)" @click="more(index)" href="#">read more ...</a>
                  <a v-else @click="less(index)" href="#">read less ...</a>
                </p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <i class="feedbacks-previous fa fa-chevron-left" aria-hidden="true"></i>
          <i class="feedbacks-next fa fa-chevron-right" aria-hidden="true"></i>
          <div class="buttons">
            <a href="/en/feedback-form" class="leave-your-feedback button-primary"> Leave your feedback </a>
            <a href="/feedback-all" class="watch-all-responses">Watch all responses</a>
          </div>
        </div>
      </section>
      <!--      todo: do not show blog posts section in case there are no blog posts-->
      <section class="blog-posts" @vue:mounted="mounted()">
        <div class="container">
          <h2>Latest blog posts</h2>
          <ul>
            <li v-for="post in blogPosts">
              <img :src="post._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url" alt="" />
              <h3>
                <a :href="post.link">{{ post.title.rendered }}</a>
              </h3>
              <div v-html="post.excerpt.rendered"></div>
              <span class="date">{{post.date.split('T')[0]}}</span>
            </li>
          </ul>
          <div class="more-posts-container">
            <a class="more-posts" href="https://blog.programming.org.ua">
              More post <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </section>
      <section class="manifesto">
        <div class="container">
          <h2>
            We signed a <a rel="noreferrer noopener" href="https://goodschoolmanifesto.org/en" target="_blank">good school manifesto</a>:
          </h2>

          <ul>
            <li>
              <details>
                <summary>
                  <span class="text">To teach the way we promised. To teach what we promised.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    If “three practical tasks” were promised in the ads and announcements — we do provide three practical tasks. If we
                    promised Elon Musk, we bring Elon Musk, not his poster. The ads should speak the truth, yet it does not mean one must
                    not use artistic techniques, images and hyperbola. Just make sure none of the course promises creates false
                    expectations.
                  </p>
                  <div>
                    <p><strong>Does the course accomplish and provide all that was promised in the ads and on the website?</strong></p>
                    <p>✅The ads do not give false hopes and corresponds the course content</p>
                    <p>✅There are no manipulations in the ads</p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">A good school = a transparent school.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    We do not mean see-through walls, we mean the access to the information. Make sure that before the course starts all
                    students know about all school rules, in particular — about certificate issuing and further help with employment. Tell
                    about your lectors — and why they are great. Tell about your curriculum — and ensure it is completed in full.
                  </p>
                  <div>
                    <p>
                      <strong>
                        Does the student see the whole curriculum and the real possibilities of further learning or employment BEFORE the
                        payment? (not applicable because we are free)
                      </strong>
                    </p>
                    <p>✅Is the curriculum/list of the course topics publicly available?</p>
                    <p>
                      ✅Are the terms of learning and payments publicly available? (School++ is free, so this statement is not applicable)
                    </p>
                    <p>✅Is there a public and clearly visible reference to the feedback of the past students?</p>
                    <p>✅Is there a public and clearly visible reference to the statistics of the employment of the past students?</p>
                    <p>✅All the data above is available offline (in handouts and other printed materials)?</p>
                  </div>
                  <div>
                    <p><strong>If the school promises to help with employment, how do they do it?</strong></p>
                    <p>✅The course has a checklist and a clear understanding of the procedure of help with employment</p>
                    <p>✅The information about the employed alumni is public and can be easily obtained</p>
                  </div>
                  <div>
                    <p>
                      <strong>
                        If the course/school states they have a partnership with certain company, do they explain what kind of partnership
                        they have?
                      </strong>
                    </p>
                    <p>✅A clear and understandable explanation of the form of partnership is located near the list of partners</p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">Not to begin to teach whom we can’t teach.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    Good schools always understand who their target audience is: who will benefit from this course and who will not be able
                    to finish it. We deny the pupils who do not have enough background to cope with the course. We do not waste the time and
                    money (both ours and of our students) trying to teach them what they will not be able to finish and what they do not
                    need.
                  </p>
                  <div>
                    <p>
                      <strong>
                        The school understands what background is needed for every course and accepts only the students with the needed
                        background
                      </strong>
                    </p>
                    <p>
                      ✅There is a clear and understandable list of skills and knowledge the student must possess in order to finish the
                      course successfully
                    </p>
                    <p>✅There is a test or other form of checking if a course is suitable for a student</p>
                    <p>
                      ✅The process of subscribing for a course involves the mandatory explanation of the required background and entrance
                      exam
                    </p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">To measure our efficiency and to become better.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    We collect and analyze the feedback from the students both during and after the courses. This feedback helps us
                    understand if we succeed with our teaching. We monitor the current business trends to make sure our alumni fit the
                    requirements of modern companies and we correct out courses as needed. We ask for the feedback with due respect and
                    explain why we need it. We adjust our courses according to the useful and valuable advice.
                  </p>
                  <div>
                    <p><strong>The signatory has the feedback collection and analysis system?</strong></p>
                    <p>✅An example of a negative feedback and the actions taken (with proofs)</p>
                    <p>
                      ✅The feedback gathering covers the teachers work, the learning process, the course organization and might act as the
                      quality assurance
                    </p>
                    <p>✅The feedback is collected regularly or after the end of the course</p>
                  </div>
                  <div>
                    <p><strong>Is the feedback included into the curriculum and the learning process?</strong></p>
                    <p>✅The students know their feedback matters and is not gathered to be neglected</p>
                  </div>
                  <div>
                    <p>
                      <strong>
                        Does the course administration ask for feedback on the course usefulness in a couple of months after the course
                        ends?
                      </strong>
                    </p>
                    <p>✅The results of these surveys are public</p>
                    <p>✅There is the statistics of the average students’ success and further growth</p>
                  </div>
                  <div>
                    <p>
                      <strong>
                        Does the school survey the employers regarding the amount of further on-site training needed for the alumni?
                      </strong>
                    </p>
                    <p>
                      ✅Did the school provide the contacts from the businesses that employed the alumni (without publicly disclosing their
                      personal details)
                    </p>
                    <p>✅The results of all surveys are public</p>
                  </div>
                  <div>
                    <p>
                      <strong>
                        Does the school provide any explanation regarding their policy on hiring the trainers or information on the
                        teachers’ background on the school’s website?
                      </strong>
                    </p>
                    <p>
                      ✅The information about the teachers’ background and the explanation about why they were chosen to teach in the school
                      is available on the website
                    </p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">To demand quality from the teachers and help them provide it .</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    The course administration and the teachers work together and they are both responsible for the quality of teaching. This
                    means that the teachers do not have to deal with the administrative work and the administration helps them improve their
                    soft skills. Before the beginning of the course we check if the teacher’s program corresponds the promised course
                    content and if it is able to reach the stated goals. During the course we monitor the completeness and the quality of
                    the content delivery.
                  </p>
                  <div>
                    <p>
                      <strong>
                        The course has methodical recommendations, guidelines and advices on the learning best practices for teachers?
                      </strong>
                    </p>
                  </div>
                  <div>
                    <p>
                      <strong>
                        Does the course have an administrator that can consult the teachers based on the feedback from the students?
                      </strong>
                    </p>
                    <p>✅There is a separate course manager who deals with organizational questions, so the teachers only teach</p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">To be to our colleagues.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    We respect our colleagues from other schools, despite the competition. We report on unethical behavior whenever we see
                    one. We criticize face to face and understand that we are doing a common and important job — building a civilized and
                    diverse learning ecosystem.
                  </p>
                  <div>
                    <p>
                      <strong>
                        The other schools have no conflicts with this school, or such conflicts are solved quickly and in a civilized
                        manner?
                      </strong>
                    </p>
                    <p>
                      ✅The SuKhaRi team informs the school on the oncoming revision and requests the information on the collaboration with
                      other schools
                    </p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">To give the certificates only to the ones who deserve them.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    Every certificate clearly states what it was given for: for the lectures attended, for the exam passed or for the best
                    homework. The employers that make an offer to our alumni can clearly understand the skill level of every our student and
                    can evaluate if the candidate fits certain job requirements. The students who missed the lectures and did not complete
                    their homework will not receive the certificate.
                  </p>
                  <div>
                    <p><strong>Does the course provide the certificate of completion?</strong></p>

                    <p>✅The certificate contains the student’s marks</p>
                    <p>
                      ✅The certificate contains both general information (the name of the school, the name of the course, the date of
                      completion) and the personal information — the final marks, if the final exam is passed or not, if the test project is
                      completed or not
                    </p>
                    <p>
                      ✅If the certificate does not contain the student’s marks, it does not state the student has successfully completed
                      the course
                    </p>
                    <p>✅The course can provide the information on the median course marks and completion rates</p>
                    <p>✅The certificate authenticity can be confirmed by number</p>
                  </div>
                </div>
              </details>
            </li>
            <li>
              <details>
                <summary>
                  <span class="text">The last one is more than a principle. Good schools understand their influence on the society.</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    The courses demand spending much time and effort — but they propagate certain ideas and values in return. Good schools
                    understand their courses form certain attitude towards the topic and they act as an example of the human respect,
                    dignity and appraisal of the personality. We do not discriminate anyone by any attribute, we endorse inclusion and
                    actively participate in various social initiatives. The schools and courses are able to make this world more educated,
                    more responsive and more responsible. This is our mission.
                  </p>
                </div>
              </details>
            </li>
          </ul>
        </div>
      </section>
      <section class="partners">
        <div class="partners-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a target="_blank" href="http://roboclub.if.ua/" class="slide-content">
                <img src="img/roboclub.png" alt="roboclub" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://probono.org.ua/" class="slide-content">
                <img src="img/pbc.png" alt="pbc" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://200x300.com/" class="slide-content">
                <img src="img/200x300.png" alt="200x300" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://www.advection.net/" class="slide-content">
                <img src="img/advection.png" alt="advection" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://bandapixels.com/" class="slide-content">
                <img src="img/bandapixels.svg" alt="bandapixels" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://canva.com/" class="slide-content">
                <img src="img/canva.png" alt="canva" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://codeclub.com.ua/" class="slide-content">
                <img src="img/codeclub.png" alt="codeclub" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://cyberpolice.gov.ua/" class="slide-content">
                <img src="img/cyberpolice.jpg" alt="cyberpolice" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://dynamicstreaming.net/" class="slide-content">
                <img src="img/dynamic_streaming.png" alt="dynamic_streaming" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://www.grammarly.com/" class="slide-content">
                <img src="img/grammarly.png" alt="grammarly" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://htmlacademy.ru/" class="slide-content">
                <img src="img/htmlacademy.png" alt="htmlacademy" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://italent.org.ua/" class="slide-content">
                <img src="img/italent.png" alt="italent" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://www.jetbrains.com" class="slide-content">
                <img src="img/jetbrains-variant-4.svg" alt="jetbrains" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://notion.so/" class="slide-content">
                <img src="img/notion.jpg" alt="notion" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://onix-systems.com/" class="slide-content">
                <img src="img/onix.png" alt="onix" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://ring-ukraine.com/" class="slide-content">
                <img src="img/ring_labs.png" alt="ring_labs" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="https://slack.com/" class="slide-content">
                <img src="img/slack.png" alt="slack" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://www.techsoup.org/" class="slide-content">
                <img src="img/techsoup.png" alt="techsoup" />
              </a>
            </div>

            <div class="swiper-slide">
              <a target="_blank" href="http://www.wowza.com/" class="slide-content">
                <img src="img/wowza.png" alt="wowza" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="top">
          <nav class="left">
            <ul>
              <li>
                <i class="fa fa-location-dot"></i>
                <a href="https://g.page/shpp-kr" target="_blank" rel="noreferrer noopener">Vasylivskyi ln. 10, Kropyvnytskyi, Ukraine</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+380502011180">050 20 111 80</a>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@programming.org.ua">info@programming.org.ua</a>
              </li>
            </ul>
          </nav>

          <nav class="middle">
            <ul>
              <li>
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/shpp.kr" target="_blank" rel="noreferrer noopener">Instagram</a>
              </li>
              <li>
                <i class="fa-brands fa-facebook-square"></i>
                <a href="https://fb.com/shpp.kr" target="_blank" rel="noreferrer noopener">Facebook</a>
              </li>
              <li>
                <i class="fa-brands fa-telegram"></i>
                <a href="https://t.me/shppkr" target="_blank" rel="noreferrer noopener">Telegram</a>
              </li>
            </ul>
          </nav>

          <a href="/supportus" class="support-us">Support us</a>
        </div>
        <hr />
        <div class="copyright">© 2012–2022 Programming School++</div>
      </div>
    </footer>
    <script src="https://unpkg.com/petite-vue" defer></script>
  </body>
</html>
