@import '../../styles/constants';
@import '../../styles/mixins';

:root {
  scroll-padding-top: 90px;
}

.teens {
  display: flex;
  flex-direction: column;

  &:before,
  &:after {
    content: '';
    background-image: url('/assets/images/forteens.png');
    background-repeat: no-repeat;
    height: 152px;
    margin-top: -76px;
    position: absolute;
    top: 50%;
    width: 73px;

    @include media-md {
      display: none;
    }
  }

  &:before {
    background-position: 0 -10px;
    left: 55px;
  }

  &:after {
    background-position: -100px -10px;
    right: 55px;
  }

  .content.container {
    max-width: 550px;
    position: relative;

    p {
      margin: 25px 0;
      font-size: 20px;

      a {
        &,
        &:visited {
          color: inherit;
        }

        &:hover {
          color: $color-main-green;
        }
      }
    }

    .sign-up {
      display: block;
      margin: 0 auto;
      width: fit-content;
    }
  }

  hr {
    margin-top: 35px;
    border-color: #f8f8f8;
    border-style: solid;
    border-width: thick;
  }
}
