<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
  <head>
    {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.courses}}
    {{> ../../template-partials/head}}
  </head>
  <body>
    {{> ../../header/header pageRoute='courses'}}
    <main class="vue-container">
      courses page
      {{> ../../template-partials/question-form/question-form page='courses'}}
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
