<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
<head>
  {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.feedback_form}}
  {{> ../../template-partials/head}}
</head>
<body>
{{> ../../header/header pageRoute='feedback-form'}}
<main>
  feedbacks form page
</main>
{{> ../../footer/footer}}
</body>
</html>
